.login{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.login>button{
    width: 300px;
    color: white;
    background-color: #738adb;
    font-weight: 800;
}

.login>button:hover{
    width: 300px;
    color: white;
    background-color: black;
    font-weight: 800;
}
.login_logo>img{
    object-fit: contain;
    height: 150px;
}